<?xml version="1.0" encoding="utf-8"?>
<!-- Per-capability manifest fragment; AGP merges these at build time. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.eevdf.capabilities.multidevicesync.MultiUserSyncActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName="com.eevdf.capabilities.settingsscreens.SettingsActivity" />
    </application>
</manifest>
